@import "tailwindcss";

:root {
    /*colors*/
  --color-gold: #c9a24d;

  /*background images*/
  --background-image-hero-mobile: url("https://ik.imagekit.io/wyhbark190/assets/bg-hero-mobile.jpg");
  --background-image-hero-desktop: url("https://ik.imagekit.io/wyhbark190/assets/bg-hero-desktop.jpg");
  --background-image-about-mobile: url("https://ik.imagekit.io/wyhbark190/assets/bg-about-mobile.jpg");
  --background-image-about-desktop: url("https://ik.imagekit.io/wyhbark190/assets/bg-about-desktop.jpg");

  /*font families*/
   --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
   --font-serif: "Playfair Display", Georgia, serif;
}
