@import "tailwindcss";

:root {
    /*colors*/
  --color-gold: #c9a24d;

  /*background images*/
  --background-image-hero-mobile: url("/assets/bg-hero-mobile.jpg");
  --background-image-hero-desktop: url("/assets/bg-hero-desktop.jpg");

  /*font families*/
   --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
   --font-serif: "Playfair Display", Georgia, serif;
}
